.App {
  text-align: center;
  background-color: 	#faf8f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-top: 4rem;
}

.App-main {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2rem;
}

.App-main-date {
  white-space: nowrap;
}
