.App {
  text-align: center;
  background-color: 	#faf8f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding: 2rem;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-main-highlight {
  font-weight: 400;
  font-size: larger;
}

.App-main-date {
  white-space: nowrap;
  font-weight: 400;
}

.TableList-container {
  display: flex;
  flex-wrap: wrap;
}

.TableList-item {
  flex: 50%;
}
