.App {
  text-align: center;
  background-color: 	#faf8f6;
  background-image: url(../public/eucalyptus-left.png), url(../public/eucalyptus-right.png);
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  height: 95vh;
  background-size: auto 35vh, auto 15vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 2rem;
}

.App-main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin: 2rem 0;
  /* height: 100vh; */
}

.App-logo {
  height: 20vh;
  pointer-events: none;
}

.App-main-highlight {
  font-weight: 500;
  font-size: larger;
}

.App-main-date {
  white-space: nowrap;
  font-weight: 500;
}

.App-main-schedule {
  margin-top: 4rem;
}

.App-main-schedule-title {
  font-weight: 500;
  font-size: x-large;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-.5rem);
  }
  60% {
    transform: translateY(-.25rem);
  }
  80% {
    transform: translateY(-.5rem);
  }
}

.App-main-schedule-arrow {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.TableList-item {
  flex: 50%;
}

.TableList-item-guests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative
}

.TableList-item-guests::before {
  content: "";
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  width: 1px;
  background: black; 
  left: 50%;
  transform: translateX(-50%);
}

.TableList-item-guest-highlight {
  text-decoration: underline;
}

hr {
  width: 50vw;
}

iframe {
  height: 30vh;
  border-radius: 1rem;
  border: 4px solid #faf8f6;
}

body {
  overflow: hidden;
}

.App-main-section {
  height: 68vh;
  scroll-snap-align: start;
}